body.login {
  background-color: rgba(0, 123, 255, 0.25);
}

.login-form {
  h2 {
    margin-bottom: 20px;
  }
  width: 35%;
  margin: auto;
  background-color: #fff;
  padding: 10px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
