#transactions-table {
  td.status {
    span.failed {
      color: red;
    }
    span.success {
      color: green;
    }
  }
  td.amount {
    span.negative {
      color: red;
    }
    span.positive {
      color: green;
    }
  }
  td.your-wallet {
    font-weight: bold;
  }
}
