- flash.each do |type, msg|
  - alert_type = type
  - alert_type = 'danger' if type == 'error'
  - alert_type = 'success' if type == 'notice'
  - alert_type = 'warning' if type == 'alert'
  .alert{ class: "alert-#{alert_type}" }
    = msg
